.App {
	text-align: center;
	margin: 50px;
}

.count {
	width: 500px;
	border: 1px solid;
	padding: 20px;
	text-align: center;
}

.button {
	font-size: 30px;
	background-color: #cd5c5c;
	cursor: pointer;
	color: white;
	border-radius: 10px;
	border: none;
	padding: 5px 10px;
}

.text {
	margin: 0px 20px;
	font-size: 30px;
}

h1 {
	text-align: center;
	padding: 20px 10px 10px 10px;
}

.input-group span {
	width: 150px;
	justify-content: center;
}

.active {
	color: white;
	background-color: #B0C4DE;
}

a{
	text-decoration: none !important;
	color: green;	
}